<div class="container">

      <div class="starter-template">
        <h1>Welcome to my Appointments App</h1>
        <p class="lead">It's what you need to register customers 
        	or patientes instead of using a clipboard.<br>
        	Just ask the customer to register online here.</p>
        	<button type="button" class="btn btn-primary btn-lg">Get started now!</button>
      </div>
      <div class="row">
		  <div class="col-md-4">
		  	<h1>Ditch the clipboard</h1>
		  	<p>Use our app to manage your customer list
		  		from your mac/pc, iPad or iPhone.</p>
		  </div>
		  <div class="col-md-4">
		  	<h1>Patients will like going to the Dr.</h1>
		  	<p>Patients will like going to the Dr's office knowing they have a safe appt.</p>
		  </div>
		  <div class="col-md-4">
		  	<h1>Customers will love your system.</h1>
		  	<p>Noe they can be reminded about their appt. by SMS.</p>
		  </div>
	  </div>

    </div><!-- /.container -->